.Fmain{
	position:fixed;
	top:66%;
	left:86%;
	z-index:999999;
	padding:10px;
	background:rgb(0, 187, 255);
	cursor:pointer;
	color:white;
	border-radius:18px 34px;
	border:1px solid rgb(24, 166, 95);
	box-shadow:1px 4px 12px #666;
	transition:1s ease;
}
.Fmain h1{
	font-size:2em;
	font-family:Verdana;
	display:block;
	padding:3px;
	letter-spacing:8px;
	transition:1s ease;
}
.Fmain:hover > h1{
	color:rgb(200, 15, 72);
}
